*{
  margin: 0;
  padding: 0;
}
.navber{
  max-width: 1600;
  height: 92;
  background-color: #b51010;
   justify-content: space-between;
   display: flex;
 
  
}
.navber ul {
display: flex;
list-style: none;




}
.navber ul a{
  display: flex;
  text-decoration: none;
 
   
}
.navber ul{
  justify-content: space-between;
  gap: 40px;

}

.btn-1{
  background-color: rgba(255, 255, 255, 1);
  color: green
padding:15px 25px;
margin: 10px;


}
.btn-1:hover{
  background-color: #b51010;
  color: antiquewhite;
  
}
.navber img{
 width: 139px;
height: 60px;
}
.btn-2{

background-color: aliceblue;
padding:15px 25px;
border-radius: 25px;




}
.btn-2:hover{
  background-color: #2e0a0a;
  color: aliceblue;
  

}
.bannar{
  max-width:1600px;
height: 1000px;
background-image:url(/assets/hero-bg.png);
}
.bannar-item{
  display: center;
  align-items: center;
  justify-content: center;
 
}
.btn-item{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 10px;
}
.btn-3{
  background-color:rgba(70, 145, 101, 1);
padding: 12px 16px 12px 16px;

}
.btn-4{
background-color: black;
text-align: center;
color: aliceblue;
}
.h1-item{
 
 text-align: center;
}
.h1-tittle{
  padding: 20px;
  font-size:72;
  font-weight: 700;
  text-align: center;
 
}
.button{
  
}
