*{
  margin: 0;
  padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
.navber{
  max-width: 1600;
  height: 92;
  background-color: #b51010;
   justify-content: space-between;
   display: flex;
 
  
}
.navber ul {
display: flex;
list-style: none;




}
.navber ul a{
  display: flex;
  text-decoration: none;
 
   
}
.navber ul{
  justify-content: space-between;
  gap: 40px;
  align-items: center;

}

.btn-1{
  background-color: rgba(255, 255, 255, 1);
  color: green;
padding:15px 25px;
margin: 10px;


}
.btn-1:hover{
  background-color: #b51010;
  color: antiquewhite;
  
}
.navber img{
 width: 139px;
height: 60px;
}
.btn-2{

background-color: aliceblue;
padding:15px 25px;
border-radius: 25px;
margin-top: 30px;





}
.btn-2:hover{
  background-color: #2e0a0a;
  color: aliceblue;
  

}
.bannar{
  max-width:1600px;
height: 1000px;
background-image:url("./assets/hero-bg.png");
}
.bannar-item{
  display: center;
  align-items: center;
  justify-content: center;
 
}
.btn-item{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 10px;
}
.btn-3{
  background-color:rgba(70, 145, 101, 1);
padding: 12px 16px 12px 16px;

}
.btn-3:hover{
  background-color: blue;
  color: aliceblue;
}

.h1-item{
 
 text-align: center;
}
.h1-tittle{
  padding: 20px;
  font-size:72;
  font-weight: 700;
  text-align: center;
 
}
.button{
  display: flex;
  justify-content: center;
  margin: top 30px;
}
.h1-tittle span {
  display: block;
  color: green;
}
.pragrap{
  text-align: center;
}
.btn-outline {
  background: transparent;
  border: 1px solid #cbd5e1;
  padding: 12px 18px;
  border-radius: 6px;
  color: white;
}

.problems {
  padding: 100px 80px;
  text-align: center;
}

.subtext {
  margin: 15px 0 40px;
  color: #64748b;
}

.cards {
  display: flex;
 
  gap: 20px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.cta {
  background: #f8fafc;
  padding: 80px;
  text-align: center;
}

.cta small {
  display: block;
  margin-top: 10px;
  color: #64748b;
}
.footer {
  background: #020617;
  color: #94a3b8;
  padding: 40px;
  text-align: center;
}
.img{
  display: flex;
}
.btn-primary{
  background: #2fb36f;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer
}
.btn-primary:hover{
  background-color: aqua;
}
.social link{
  display: flex;
  justify-content:end
  

}
.solution {
  padding: 100px 80px;
  
}
.card-img {
  display: flex;             
  align-items: center;
  gap: 60px;                  
}

.image-box img {
  width: 420px;
  max-width: 100%;
}
.text-box h6 {
  color: #22c55e;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.text-box h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.text-box p {
  color: #64748b;
  max-width: 520px;
  padding: 100px;
  align-items: center;
}
.text-item{
  padding: 100px;
}


